<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/tw-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
     <link href="../components/morrisjs/morris.css" rel="stylesheet"> 

    <!-- Custom Fonts -->
    <link href="../components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
     <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type='text/javascript'>
    	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
     <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      google.load('visualization', '1', {'packages': ['geomap']});
  	  google.setOnLoadCallback(drawMap);
  
  
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Year', 'Overall'],
          ['9 A.M',  10],
          ['10 A.M',  30],
          ['11 A.M',  55],
          ['12 P.M',  109],
          ['1 P.M',  198],
          ['2 P.M',  234],
          ['3 P.M',  345],
          ['4 P.M',  500],
          ['5 P.M',  1300]     
        ]);

        var options = {
        //  title: 'Tweet Count',
          pointSize : 10,
          vAxis: {title: 'Count',  titleTextStyle: {color: 'black',size:'10'}},
        hAxis: {title: 'Days',  titleTextStyle: {color: 'black',size:'10'}},
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
     
     
     function drawMap()
     {
  		/*	var data = google.visualization.arrayToDataTable([['State','Count'],
  			['CA', 100],
  			['NY', 200],
  		
 			]);
 			  }
 			*/
 			
 			var data = google.visualization.arrayToDataTable([
  ['State', 'Count'],
  ['CA', 130024],
  ['CN', 1324],
  ['IN', 1133],
  ['US', 304],
  ['ID', 232],
  ['BR', 187]
]);
 			
 		
 		var options = { 
		  'width':850,
		  'height':400,
		  backgroundColor: '#075A85'
		  //colors: "Green"
		}

      options['dataMode'] = 'regions';
      options['region'] = 'US';	
   //  options['colors'] = [0xFFFF99, 0xFF9966];
    options['colors'] = [0x95C2D9, 0x5E9FCF];
    
   // options['colors'] = [0xE9F1FA, 0x075A85]; 
    var container = document.getElementById("map_canvas");
    var geomap = new google.visualization.GeoMap(container);
	geomap.draw(data, options);
    
        }  
     
     
    </script>
    
    
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Twitter Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/charts"><i class="fa fa-bar-chart-o fa-fw"></i> Charts
                           
                            <!-- /.nav-second-level -->
                        </li>                    
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Charts</h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default" style="width:900px;">
                        
                         <div class="panel-heading" style="width:900px;">
                            Line Chart
                        </div>
                         
                        
                        <div class="panel-body" style="width:900px;">
                        	<div align="left">
   		   							<div id="chart_div" style="width: 800px; height: 400px;" align="right">  
   		   							</div>
   		  					 </div>	
                           <!--  <div id="morris-area-chart"></div> -->
                        </div>
                    </div>
                </div>
                
            </div>
            
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default" style="width:900px;">
                        
                         <div class="panel-heading" style="width:900px;">
                            Geo Chart
                        </div>
                         
                        
                        <div class="panel-body" style="width:900px;">
                        	<div align="left">
                        	<!-- <div id='map_canvas' align="center"></div> -->
   		   							<div id="map_canvas" style="width: 800px; height: 400px;" align="right">  
   		   							</div>
   		  					 </div>	
                           <!--  <div id="morris-area-chart"></div> -->
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../components/raphael/raphael-min.js"></script>
    <script src="../components/morrisjs/morris.min.js"></script>
    <script src="../js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/admin.js"></script>

</body>

</html>
	