<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
     <link href="../dist/css/tw-admin.css" rel="stylesheet"> 

    <!-- Morris Charts CSS -->
    <link href="../components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
            <i class="fa fa-twitter fa-fw"></i>
                <a class="navbar-brand" href="/">Twitter Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <!-- <li>
                            <a href="/charts"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>                         
                        </li>   --> 
                        <li>
                            <a href="/events"><i class="fa fa-bullhorn fa-fw"></i> Create Event</a>
                        </li>  
                         <li>
                            <a href="/viewevents"><i class="fa fa-newspaper-o fa-fw"></i> My Events</a>
                        </li>  
                        </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
           
       	     <ul class="nav nav-tabs">
  				<li role="presentation" class="active"><a href="#event">Create Event</a></li>
  				<!-- <li role="presentation"><a href="#monitor">Monitor Event</a></li>
  				<li role="presentation"><a href="#">Messages</a></li> -->
			 </ul>
          
                    
    	 <section id="event" class="bg-light-gray">     
    		 <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    
                </div>
       		  </div>
    		 <div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Event Information</h3>	
				</div>
				
			 
			 <form action="/events" method="post">
			    <div class="panel-body">
			    		<div class="control-group">
							  <label class="control-label" for="textinput">Event Name</label>
							  <div class="controls">
							    <input class="form-control" type="text" placeholder="Enter event name" id="xs" name="eventName" required> 
							  </div>
						</div>
							
						<div class="control-group">
							  <label class="control-label" for="textinput">Tag</label>
							  <div class="controls">
							     <input class="form-control" type="text" placeholder="Enter tag name" id="xs" name="eventTag" required>
							  </div>
						</div>
		
						<div class="control-group">
							  <label class="control-label" for="textinput">Target</label>
							  <div class="controls">
							    <input class="form-control" type="text" id="xs"  placeholder="Enter target" name="targetTweets" required> 
							  </div>
						</div>
						
						<div class="control-group">
								<label class="control-label" for="textinput">Start Date</label>
								<div class="controls"> 
								<input type="date" id="startdate" class="form-control"  name="startdate" required>
								</div>
						</div>
					
						<div class="control-group">
								<label class="control-label" for="textinput">End Date</label>
								<div class="controls"> 
								<input type="date" id="enddate" class="form-control" name="enddate" required>
								</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="textinput">Users</label>
							  <div class="controls">
							     <input class="form-control" type="text" id="xs" placeholder="Enter users" name="eventUsers" required>
							  </div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="textinput">Enter email alias</label>
							<div class="controls">
							     <input class="form-control" type="text" id="emailAlias" placeholder="Enter email alias" name="emailAlias" required>
							  </div>
						</div>
							
						<div class="control-group">
							  <label class="control-label" for="textinput">Scan Tweets</label>
							  <div class="controls">
							     <input class="form-control" type="text" id="xs" placeholder="Enter scan number" name="tweetLimit" required>
							  </div>
						</div>
			
							<br>
							
						 <input type="submit" id="submit" class="btn btn-info" name="Submit">
				</div>	
			</form>		   
     	 	</div>
    	 </section>    
                
                   
     </div>
        

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../components/raphael/raphael-min.js"></script>
    <script src="../components/morrisjs/morris.min.js"></script>
    <script src="../js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/admin.js"></script>

</body>

</html>
 