<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <!-- Bootstrap Core CSS -->
    <link href="../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
     <link href="../dist/css/tw-admin.css" rel="stylesheet"> 

    <!-- Morris Charts CSS -->
    <link href="../components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    
     <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
   
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      google.load('visualization', '1', {'packages': ['geomap']});
  	  google.setOnLoadCallback(drawMap);
  
  
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['User','Count'],
          ['@joe',  5],
          ['@max',  10],
          ['@Pankaj',15],   
          ['@joe',  5],
          ['@max',  10],
          ['@Pankaj',15],
          ['@joe',  5],
          ['@max',  10],
          ['@Pankaj',15]
        ]);

        var options = {
        //  title: 'Tweet Count',
          pointSize : 7,
          hAxis: {title: 'Count',  titleTextStyle: {color: 'black',size:'60'}},
        vAxis: {title: 'Users',  titleTextStyle: {color: 'black',size:'6'}},
        };
        
        var pie_chart = new google.visualization.PieChart(document.getElementById('piechart_3d1'));
        pie_chart.draw(data, options);
        
        
        var bar_chart = new google.visualization.BarChart(document.getElementById('piechart_3d'));
        bar_chart.draw(data, options);
                
      }
     
    </script>	    
                                            
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Twitter Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                       <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/charts"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>                         
                        </li>   
                        <li>
                            <a href="/events"><i class="fa fa-bullhorn fa-fw"></i> Create Event</a>
                        </li>  
                         <li>
                            <a href="/viewevents"><i class="fa fa-newspaper-o fa-fw"></i> My Events</a>
                        </li>              
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        <br>
           <!--  <div class="row">
                <div class="col-lg-12">
                    <h5 class="page-header">Tweets</h5> 
                </div>
            </div> -->
            
             <div class="row">
				
				<div class="col-lg-6">
					
					<div class="panel panel-info">
				
				 		<div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Users
                        </div>


						<div class="panel-body">

							<table class="table table-condensed">
								<thead>
									<tr class="info">
										<th>User</th>
										<th>Count</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>@joe</td>
										<td>35</td>
									</tr>
									<tr>
										<td>@max</td>
										<td>35</td>
									</tr>
									<tr>
										<td>@punk</td>
										<td>35</td>
									</tr>
								</tbody>
							</table>


						</div>
					</div>	
				
				</div>
			
			
			
				<div class="col-lg-6">
					<div class="panel panel-info">
				
				 		<div class="panel-heading">
                            <i class="fa fa-twitter fa-fw"></i> Responsive Timeline
                        </div>
                        
					
						<div class="panel-body">
						Tweet1
						<hr>
						Tweet2
						<hr>
						Tweet3
						<hr>
						</div>
					</div>	
				</div>
				
			</div>
		 	
				
				

				
            
            
            <div class="row">
                 <div class="col-lg-8">
                    <div class="panel panel-info">
                        
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-fw"></i> Charts
                        </div>
                       
	                        <div class="panel-body">
								<div align="center">
   		   								<div id="piechart_3d" style="width: 650px; height: 350px;" align="right"></div>
   		   						</div>								                                                      
                        	</div>	
                    </div>                
                </div> 
                
                
                
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-fw"></i> Pie Chart
                        </div>
                       
	                        <div class="panel-body">
								<div align="left">
   		   								<div id="piechart_3d1" style="width:390px; height: 350px;" align="left"></div>
   		   						</div>								                                                      
                        	</div>	
                    </div>                
                </div> 
                
                

               <!--  <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>


                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Hashtag Count
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Hashtag Visits
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Hashtag Followers
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                               
                                
                            </div>
                        </div>
                      </div>
               	 </div>  -->
                      
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../components/raphael/raphael-min.js"></script>
    <script src="../components/morrisjs/morris.min.js"></script>
    <script src="../js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/admin.js"></script>

</body>

</html>
